@font-face {
    font-family: 'digitaal';
    src: url('../fonts/Digital7-rg1mL.ttf') format('truetype');
}

@font-face {
    font-family: 'digitaal1';
    src: url('../fonts/Digital7Italic-BW658.ttf') format('truetype');
}

@font-face {
    font-family: 'digitaal2';
    src: url('../fonts/Digital7Mono-Yz9J4.ttf') format('truetype');
}

@font-face {
    font-family: 'digitaal3';
    src: url('../fonts/Digital7Monoitalic-8MDLJ.ttf') format('truetype');
}


body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    /* overflow: hidden; */
}

section {
    --size-lift: 55vw;

    place-self: start;

    width: var(--size-lift);
    aspect-ratio: 1/1;

    display: grid;

    perspective: 150vmin;
    transform-style: preserve-3d;
}

div {
    grid-area: 1/1;
}

section:nth-of-type(1) div:nth-of-type(1) {
    transform:
        translateZ(calc(var(--size-lift) * -.5)) rotateY(90deg) translateZ(calc(var(--size-lift) * .5));
    background-image: repeating-linear-gradient(gold 0 5%, green 0 10%);
}

div:nth-of-type(2) {
    transform:
        translateZ(calc(var(--size-lift) * -.5)) rotateY(-90deg) translateZ(calc(var(--size-lift) * .5));
    background-image: repeating-linear-gradient(gold 0 5%, green 0 10%);
}

div:nth-of-type(3) {
    transform:
        translateZ(calc(var(--size-lift) * -.5)) rotateX(90deg) translateZ(calc(var(--size-lift) * .5));
    background-image: repeating-linear-gradient(red 0 5%, orange 0 10%);
}

div:nth-of-type(4) {
    transform:
        translateZ(calc(var(--size-lift) * -.5)) rotateX(-90deg) translateZ(calc(var(--size-lift) * .5));
    background-image: repeating-linear-gradient(red 0 5%, orange 0 10%);
}

div:nth-of-type(5) {
    width: 50%;

    transform:
        translateZ(calc(var(--size-lift) * -1));

    background-image: linear-gradient(90deg,
            #666 0%,
            /* Donkergrijs zilver */
            #888 25%,
            /* Midden-zilver */
            #aaa 50%,
            /* Lichte reflectie */
            #888 75%,
            /* Midden-zilver */
            #666 100%
            /* Donkergrijs zilver */
        );
    transition: .5s;
    transition-delay: 2s;
}

div:nth-of-type(6) {
    width: 50%;
    justify-self: end;

    transform:
        translateZ(calc(var(--size-lift) * -1));

    background-image: linear-gradient(90deg,
            #666 0%,
            /* Donkergrijs zilver */
            #888 25%,
            /* Midden-zilver */
            #aaa 50%,
            /* Lichte reflectie */
            #888 75%,
            /* Midden-zilver */
            #666 100%
            /* Donkergrijs zilver */
        );
    transition-duration: .5s;
    transition-delay: 2s;
}

/* section:hover div:nth-of-type(5) {
    transform:
        translateZ(calc(var(--size-lift) * -1)) translateX(calc(var(--size-lift) * -.5));
} */

/* section:hover div:nth-of-type(6) {
    transform:
        translateZ(calc(var(--size-lift) * -1)) translateX(calc(var(--size-lift) * .5));

} */

.panel {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 12px solid #666;
    box-sizing: border-box;
    height: 10%;
    width: 100%;
    background: #2d2d2d;
    align-items: center;
    z-index: 1;
    color: greenyellow;
    font-family: digitaal;
    font-size: 50px;
}


/* grid generator */
.knoppen {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 45vw;
    background-color: #666;
    height: 85%;
}

.knoppen input {
    opacity: 0;
}

.knoppen label {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.knoppen img {
    width: 7em;
    padding: 1em;
    outline: 3px solid #ffffff;
    border-radius: 5px;
    filter: drop-shadow(3px 5px 7px #000000);
}

body:has(input[value="internet"]:checked) .deurLinks,
body:has(input[value="robot"]:checked) .deurLinks,
body:has(input[value="knots"]:checked) .deurLinks,
body:has(input[value="zwaard"]:checked) .deurLinks,
body:has(input[value="dino"]:checked) .deurLinks,
body:has(input[value="holbewoner"]:checked) .deurLinks {
    transform:
        translateZ(calc(var(--size-lift) * -1)) translateX(calc(var(--size-lift) * -.5));
}

body:has(input[value="internet"]:checked) .deurRechts,
body:has(input[value="robot"]:checked) .deurRechts,
body:has(input[value="knots"]:checked) .deurRechts,
body:has(input[value="zwaard"]:checked) .deurRechts,
body:has(input[value="dino"]:checked) .deurRechts,
body:has(input[value="holbewoner"]:checked) .deurRechts {
    transform:
        translateZ(calc(var(--size-lift) * -1)) translateX(calc(var(--size-lift) * .5));
}

p {
    margin: 0;
}

body:has(input[value="holbewoner"]:checked) .panel p:nth-of-type(1) {
    display: none;
}

body:has(input[value="zwaard"]:checked) .panel p:nth-of-type(1) {
    display: none;
}